<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title> COVID 19- Information </title>
    {% endif %}
</head>
<body>

    <!--<script src="https://cdn.cai.tools.sap/webclient/bootstrap.js" data-channel-id="6db2e813-f1d5-4ad0-9df1-419dd1607e3e" data-token="324544e42cd46f279522ae29ae261bc5" data-expander-type="CAI" data-expander-preferences="JTdCJTIyYWNjZW50Q29sb3IlMjIlM0ElMjIlMjNkOGU4ZjclMjIlMkMlMjJiYWNrZ3JvdW5kQ29sb3IlMjIlM0ElMjIlMjNmYWZhZmElMjIlMkMlMjJjb21wbGVtZW50YXJ5Q29sb3IlMjIlM0ElMjIlMjMzMjM2M2ElMjIlMkMlMjJleHBhbmRlckxvZ28lMjIlM0ElMjJodHRwcyUzQSUyRiUyRmNkbi5jYWkudG9vbHMuc2FwJTJGd2ViY2hhdCUyRndlYmNoYXQtbG9nby5zdmclMjIlMkMlMjJleHBhbmRlclRpdGxlJTIyJTNBJTIySGVsbG8lMjIlMkMlMjJvbmJvYXJkaW5nTWVzc2FnZSUyMiUzQSUyMkNoYXQlMjB3aXRoJTIwbWUhJTIyJTJDJTIydGhlbWUlMjIlM0ElMjJDVVNUT00lMjIlN0Q=" id="cai-webclient-custom"></script>!-->
    <script src="https://cdn.cai.tools.sap/webclient/bootstrap.js" data-channel-id="6db2e813-f1d5-4ad0-9df1-419dd1607e3e" data-token="324544e42cd46f279522ae29ae261bc5" data-expander-type="CAI" data-expander-preferences="JTdCJTIyYWNjZW50Q29sb3IlMjIlM0ElMjIlMjNkOGU4ZjclMjIlMkMlMjJiYWNrZ3JvdW5kQ29sb3IlMjIlM0ElMjIlMjNmYWZhZmElMjIlMkMlMjJjb21wbGVtZW50YXJ5Q29sb3IlMjIlM0ElMjIlMjMzMjM2M2ElMjIlMkMlMjJleHBhbmRlckxvZ28lMjIlM0ElMjJodHRwcyUzQSUyRiUyRmNkbi5jYWkudG9vbHMuc2FwJTJGd2ViY2hhdCUyRndlYmNoYXQtbG9nby5zdmclMjIlMkMlMjJleHBhbmRlclRpdGxlJTIyJTNBJTIySGVsbG8lMjIlMkMlMjJvbmJvYXJkaW5nTWVzc2FnZSUyMiUzQSUyMkNoYXQlMjB3aXRoJTIwbWUhJTIyJTJDJTIydGhlbWUlMjIlM0ElMjJDVVNUT00lMjIlN0Q=" id="cai-webclient-custom"></script>
</body>
</html>